<a href="/warehouses">
    <img class="back" src="/back-button.png" alt="back">
</a>
<h2 class="text-title">Warehouse Availability</h2>
<link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->

<% if (warehouseAvailability && warehouseAvailability.length > 0) { %>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Total Capacity</th>
                <th>Warehouse Type Name</th>
                <th>Capacity Used</th>
                <th>Availability</th>
            </tr>
        </thead>
        <tbody>
            <% warehouseAvailability.forEach(warehouse => { %>
            <tr>
                <td><%= warehouse.warehouse_id %></td>
                <td><%= warehouse.warehouse_address %></td>
                <td><%= warehouse.total_capacity %></td>
                <td><%= warehouse.warehouse_type_name %></td>
                <td><%= warehouse.current_capacity_used %></td>
                <td class="<%= warehouse.isAvailable === 'Available' ? 'available' : 'full' %>">
                    <%= warehouse.isAvailable %>
                </td>                
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p>No warehouses found or all warehouses are unavailable.</p>
<% } %>

