<!-- views/customer.ejs -->
<h2>Customer List</h2>
<table>
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% customers.forEach(customer => { %>
        <tr>
            <td><%= customer.customer_id %></td>
            <td><%= customer.customer_first_name %></td>
            <td><%= customer.customer_last_name %></td>
            <td><%= customer.customer_email %></td>
            <td><%= customer.customer_address %></td>
            <td>
                <a href="/customer/<%= customer.customer_id %>">View</a> |
                <a href="/update-customer/<%= customer.customer_id %>">Update</a>
                </form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
