<a href="/">
    <img class="home" src="/home-button.png" alt="home">
</a>
<a href="/customer-logs">
    <img class="home" src="/log.png" alt="log">
</a>
<a href="/customer-archives">
    <img class="home" src="/inbox.png" alt="archives">
</a>
<div class="flexer">
    <h2>Customer List</h2>
</div>
<div class="button-group">

    <a href="/add-customer" class="btn btn-warning">Add Customer</a>
</div>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% customers.forEach(customer => { %>
        <tr onclick="window.location.href='/customer/<%= customer.customer_id %>'" style="cursor: pointer;">
            <td><%= customer.customer_id %></td>
            <td><%= customer.customer_name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.address %></td>
            <td> 
                <a href="/update-customer/<%= customer.customer_id %>" class="btn btn-info">Update</a>
                </form>
                <form action="/delete-customer/<%= customer.customer_id %>" method="POST" style="display:inline;">
                    <button type="submit"onclick="return confirm('Are you sure you want to remove this costumer?')" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
