<h2>Parcel Inventory</h2>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Parcel ID</th>
            <th>Parcel Category ID</th>
            <th>PARCEL DESCRIPTION</th>
            <th>Parcel Unit Price</th>
            <th>Parcel Weight</th>
            <th>Parcel Length</th>
            <th>Parcel Width</th>
            <th>Parcel Height</th>
            <th>Fragile</th>
            <th>Perishable</th>
            <th>Hazardous</th>
            <th>Oversized</th>
            <th>Returnable</th>
            <th>Temperature Sensitive</th>
        </tr>
    </thead>
    <tbody>
        <% parcels.forEach(parcel => { %>
        <tr>
            <td><%= parcel.parcel_id %></td>
            <td><%= parcel.parcel_category_id %></td>
            <td><%= parcel.parcel_description %></td>
            <td><%= parcel.parcel_unit_price %></td>
            <td><%= parcel.parcel_weight %></td>
            <td><%= parcel.parcel_length %></td>
            <td><%= parcel.parcel_width %></td>
            <td><%= parcel.parcel_height %></td>
            <td><%= parcel.is_fragile ? 'Yes' : 'No' %></td>
            <td><%= parcel.is_perishable ? 'Yes' : 'No' %></td>
            <td><%= parcel.is_hazardous ? 'Yes' : 'No' %></td>
            <td><%= parcel.is_oversized ? 'Yes' : 'No' %></td>
            <td><%= parcel.is_returnable ? 'Yes' : 'No' %></td>
            <td><%= parcel.is_temperature_sensitive ? 'Yes' : 'No' %></td>
            <td>
                <a href="/edit-parcel/<%= parcel.parcel_id %>">Edit</a> |
                <form action="/delete-parcel/<%= parcel.parcel_id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<h2>Product Inventory</h2>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Category ID</th>
            <th>Product Name</th>
            <th>Product Brand</th>
            <th>Product Supplier</th>
            <th>Product Description</th>
            <th>Product Unit Price</th>
            <th>Product Weight</th>
            <th>Product Length</th>
            <th>Product Width</th>
            <th>Product Height</th>
            <th>Fragile</th>
            <th>Perishable</th>
            <th>Hazardous</th>
            <th>Oversized</th>
            <th>Returnable</th>
            <th>Temperature Sensitive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
        <tr>
            <td><%= product.product_id %></td>
            <td><%= product.product_category_id %></td>
            <td><%= product.product_name %></td>
            <td><%= product.product_brand %></td>
            <td><%= product.product_supplier %></td>
            <td><%= product.product_description %></td>
            <td><%= product.product_unit_price %></td>
            <td><%= product.product_weight %></td>
            <td><%= product.product_length %></td>
            <td><%= product.product_width %></td>
            <td><%= product.product_height %></td>
            <td><%= product.is_fragile ? 'Yes' : 'No' %></td>
            <td><%= product.is_perishable ? 'Yes' : 'No' %></td>
            <td><%= product.is_hazardous ? 'Yes' : 'No' %></td>
            <td><%= product.is_oversized ? 'Yes' : 'No' %></td>
            <td><%= product.is_returnable ? 'Yes' : 'No' %></td>
            <td><%= product.is_temperature_sensitive ? 'Yes' : 'No' %></td>
            <td>
                <a href="/edit-product/<%= product.product_id %>">Edit</a> |
                <form action="/delete-product/<%= product.product_id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
