<a href="/warehouses">
    <img class="back" src="/back-button.png" alt="back">
</a>
<h2>Logistics Partners</h2>

<div class="button-group">
    
    <a href="/add-partner" type="button" class="btn btn-warning">Add New Partner</a>
</div>

<div>
    
</div>
<% if (partners && partners.length > 0) { %>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Carrier ID</th>
                <th>Carrier Name</th>
                <th>Shipping Service ID</th>
                <th>Contact Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% partners.forEach(partner => { %>
            <tr>
                <td><%= partner.carrier_id %></td>
                <td><%= partner.carrier_name %></td>
                <td><%= partner.shipping_service_id %></td>
                <td><%= partner.carrier_contact_info %></td>
                <td>
                    <a href="/update-partner/<%= partner.carrier_id %>" class="btn btn-info">Update</a>
                    <form action="/delete-partner/<%= partner.carrier_id %>" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure you want to remove this carrier?')"class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p>No logistics partners found.</p>
<% } %>
