<h2>Logistics Partner Details</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>Carrier ID</th>
        <td><%= partner.carrier_id %></td>
    </tr>
    <tr>
        <th>Carrier Name</th>
        <td><%= partner.carrier_name %></td>
    </tr>
    <tr>
        <th>Shipping Service ID</th>
        <td><%= partner.shipping_service_id %></td>
    </tr>
    <tr>
        <th>Contact Info</th>
        <td><%= partner.carrier_contact_info %></td>
    </tr>
</table>

<a href="/update-partner/<%= partner.carrier_id %>" class="btn">Update</a>
<form action="/delete-partner/<%= partner.carrier_id %>" method="POST" style="display:inline;">
    <button type="submit" class="btn" style="background-color: red;">Delete</button>
</form>
<a href="/manage-partner" class="btn">Back to Partners List</a>
