<a href="/inventories">
    <img class="back" src="/back-button.png" alt="back">
</a>
<h2>Product Inventory</h2>
<link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->

<a href="/add-product" class="btn">Add New Product</a>
<table class="responsive-table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Category ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Supplier</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Weight</th>
            <th>Dimensions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
        <tr onclick="window.location.href='/view-product/<%= product.product_id %>'" style="cursor: pointer;">
            <td><%= product.product_id %></td>
            <td><%= product.product_category_id %></td>
            <td><%= product.product_name %></td>
            <td><%= product.product_brand %></td>
            <td><%= product.product_supplier %></td>
            <td><%= product.product_description %></td>
            <td><%= product.product_unit_price %></td>
            <td><%= product.product_weight %></td>
            <td><%= product.product_length %> x <%= product.product_length %> x <%= product.product_width %> </td>
            <td>
                <a href="/edit-product/<%= product.product_id %>"><button>Edit</button></a> 
                <form action="/delete-product/<%= product.product_id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
