<link rel="stylesheet" href="/styles.css">
<body>
    <a href="/shipments">
        <img class="home" src="/back-button.png" alt="back">
    </a>
    <h1>Shipment Archives</h1>
    <table>
        <thead>
            <tr>
                <th>Archive ID</th>
                <th>Shipment ID</th>
                <th>Order ID</th>
                <th>Carrier ID</th>
                <th>Shipment Service ID</th>
                <th>Shipping Address</th>
                <th>Shipment Date</th>
                <th>Estimated Delivery Date</th>
                <th>Shipment Status ID</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <% shipmentArchives.forEach(archive => { %>
                <tr>
                    <td><%= archive.archive_id %></td>
                    <td><%= archive.shipment_id %></td>
                    <td><%= archive.order_id %></td>
                    <td><%= archive.carrier_id %></td>
                    <td><%= archive.shipping_service_id %></td>
                    <td><%= archive.shipping_address %></td>
                    <td><%= archive.shipment_date %></td>
                    <td><%= archive.estimated_delivery_date %></td>
                    <td><%= archive.shipment_status_id %></td>
                    <td><%= archive.archived_at %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
