<a href="/shipments">
    <img class="back" src="/back-button.png" alt="back">
</a>

<link rel="stylesheet" href="/styles.css">

<h2 class="text-title">Shipment Actions</h2>

<div class="containerShip">
    <body>
    <main>
        <div class="grid-container">
            <a href="/shipment-deliver/<%= shipment_id %>" class="btn btn-success btn-lg">Deliver</a>
            <a href="/shipment-return/<%= shipment_id %>" class="btn btn-primary btn-lg">Return</a>
            <a href="/shipment-remove/<%= shipment_id %>"class="btn btn-danger btn-lg">Remove</a>
            <a href="/shipment-failed/<%= shipment_id %>"class="btn btn-primary btn-lg">Failed</a>
            <a href="/shipment-update-current-location/<%= shipment_id %>" class="btn btn-primary btn-lg">Update Location</a>
        </div>
    </main>
    </body>
</div>
