<a href="/product">
    <img class="back" src="/back-button.png" alt="back">
</a>
<link rel="stylesheet" href="/styles.css">
<div class="container">
    <main>
        <h2>Product Details</h2>
        <div class="product-details">
            <p><strong>Product ID:</strong> <%= product.product_id %></p>
            <p><strong>Product Category Name:</strong> <%= product.category_name %></p>
            <p><strong>Product Name:</strong> <%= product.product_name %></p>
            <p><strong>Brand:</strong> <%= product.product_brand %></p>
            <p><strong>Supplier:</strong> <%= product.product_supplier %></p>
            <p><strong>Description:</strong> <%= product.product_description %></p>
            <p><strong>Unit Price:</strong> $<%= product.product_unit_price %></p>
            <p><strong>Weight:</strong> <%= product.product_weight %> kg</p>
            <p><strong>Length:</strong> <%= product.product_length %> cm </p>
            <p><strong>Width:</strong> <%= product.product_width %> cm </p>
            <p><strong>Height:</strong> <%= product.product_height %> cm </p>
            
            <p><strong>Product is Fragile:</strong> <%= product.is_fragile ? 'Yes' : 'No' %></p>
            <p><strong>Product is Perishable:</strong> <%= product.is_perishable ? 'Yes' : 'No' %></p>
            <p><strong>Product is Hazardous:</strong> <%= product.is_hazardous ? 'Yes' : 'No' %></p>
            <p><strong>Product is Oversized:</strong> <%= product.is_oversized ? 'Yes' : 'No' %></p>
            <p><strong>Product is Returnable:</strong> <%= product.is_returnable ? 'Yes' : 'No' %></p>
            <p><strong>Product is Temperature Sensitive:</strong> <%= product.is_temperature_sensitive ? 'Yes' : 'No' %></p>
        </div>

        <a href="/product" class="btn">Back to Products</a>
        <a href="/edit-product/<%= product.product_id %>" class="btn">Edit Product</a>
        <form action="/delete-product/<%= product.product_id %>" method="POST" style="display:inline;">
            <button type="submit" class="btn">Delete Product</button>
        </form>
    </main>
</div>
