<link rel="stylesheet" href="/styles.css">

<body>
    <a href="/warehouses">
        <img class="back" src="/back-button.png" alt="back">
    </a>
    <h1>Warehouse Archives</h1>
    <table>
        <thead>
            <tr>
                <th>Archive ID</th>
                <th>Warehouse ID</th>
                <th>Warehouse Address</th>
                <th>Capacity</th>
                <th>Warehouse Type ID</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <% archives.forEach(archive => { %>
                <tr>
                    <td><%= archive.archive_id %></td>
                    <td><%= archive.warehouse_id %></td>
                    <td><%= archive.warehouse_address %></td>
                    <td><%= archive.capacity %></td>
                    <td><%= archive.warehouse_type_id %></td>
                    <td><%= archive.archived_at %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
