<a href="/">
    <img class="home" src="/home-button.png" alt="home">
    
</a>
<a href="/warehouse-logs">
    <img class="home" src="/log.png" alt="log">
</a>
<a href="/warehouse-archives">
    <img class="home" src="/inbox.png" alt="archives">
</a>

<h2>Warehouse List</h2>
<div>
    <a href="/add-warehouse" class="btn">Add Warehouse</a>
    <a href="/manage-partner" class="btn">Manage Logistics Partner</a>
    <a href="/check-availability" class="btn">Check Warehouse Availability</a>

    <link rel="stylesheet" href="/styles.css"> <!-- Link to your CSS file -->
</div>
<% if (warehouses && warehouses.length > 0) { %>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Total Capacity</th>
                <th>Current Capacity Used</th>
                <th>Available Capacity</th>
                <th>Warehouse Type</th>
                <th>TimeStamp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% warehouses.forEach(warehouse => { %>
            <tr>
                <td><%= warehouse.warehouse_id %></td>
                <td><%= warehouse.warehouse_address %></td>
                <td><%= warehouse.total_capacity %></td>
                <td><%= warehouse.current_capacity_used %></td>
                <td><%= warehouse.total_capacity - warehouse.current_capacity_used %></td> <!-- Calculate available capacity -->
                <td><%= warehouse.warehouse_type_name %></td>
                <td>Waiting</td>
                <td>
                    <a href="/update-warehouse/<%= warehouse.warehouse_id %>" class="btn">Update</a> 
                    <form action="/delete-warehouse/<%= warehouse.warehouse_id %>" method="POST" style="display:inline;">
                        <button type="submit" class="btn" style="background-color: red;">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% } else { %>
    <p>No warehouses found.</p>
<% } %>
